@if (
  sessionData()?.warmup?.length || sessionData()?.finisher?.length || sessionData()?.main?.length
) {
  <div class="session-details">
    <h1>Session Started at: {{ sessionData()?.sessionStart | date: 'HH:mm:ss d/M/y' }}</h1>
    <p>Place: {{ sessionData()?.place }}</p>
    <p>Day: {{ sessionData()?.day }}</p>
  </div>
  @if (sessionData()?.warmup?.length !== 0) {
    <div class="exercise-details">
      <h2>Warmups</h2>
      @for (warmupEx of sessionData()?.warmup; track $index) {
        <div class="exercise-section">
          <p>Name: {{ warmupEx.name }}</p>
          <p>Duration: {{ warmupEx.time }} seconds</p>
          <p>Started at: {{ warmupEx.exerciseStartTime | date: 'HH:mm:ss' }}</p>
          <p>Ended at: {{ warmupEx.exerciseEndTime | date: 'HH:mm:ss' }}</p>
        </div>
      }
    </div>
  }

  @if (sessionData()?.main?.length !== 0) {
    <div class="exercise-details">
      <h2>Compound:</h2>
      @for (mainEx of sessionData()?.main; track $index) {
        <div class="exercise-section">
          <p>Name: {{ mainEx.name }}</p>
          <p>Set rest time: {{ mainEx.restBetweenSets }} seconds</p>
          <p>Exercise rest time: {{ mainEx.restAfterExercise }} seconds</p>
          <p>Started at: {{ mainEx.exerciseStartTime | date: 'HH:mm:ss' }}</p>
          <p>Ended at: {{ mainEx.exerciseEndTime | date: 'HH:mm:ss' }}</p>
          <p>RPE: {{ mainEx.rpe }}%</p>
          <p>Eccentric control: {{ mainEx.eccentricControl }}%</p>
          <p>Breath control: {{ mainEx.breathControl }}%</p>
          <hr />
          <p>Set data:</p>
          <hr />
          <ul>
            @for (weight of mainEx.weights; track $index) {
              <li>Set {{ $index + 1 }}</li>
              <li>Weight: {{ weight }} kg</li>
              <li>Reps: {{ mainEx.repsPerSet[$index] }}</li>
              @if (!$last) {
                <li>Set end: {{ mainEx.setTimestamps[$index] | date: 'HH:mm:ss' }}</li>
                <hr />
              }
            }
          </ul>
        </div>
      }
    </div>
  }

  @if (sessionData()?.finisher?.length !== 0) {
    <div class="exercise-details">
      <h2>Finishers</h2>
      @for (finisher of sessionData()?.finisher; track $index) {
        <div class="exercise-section">
          <p>Name: {{ finisher.name }}</p>
          <p>Duration: {{ finisher.time }} seconds</p>
          <p>Started at: {{ finisher.exerciseStartTime | date: 'HH:mm:ss' }}</p>
          <p>Ended at: {{ finisher.exerciseEndTime | date: 'HH:mm:ss' }}</p>
        </div>
      }
    </div>
  }

  @if (router.url === '/session-details') {
    <div class="session-details">
      <h1>Session ended at: {{ sessionData()?.sessionEnd | date: 'long' }}</h1>
    </div>

    <button class="finish-button" (click)="copyAndReset()">Finish</button>
  }
}
@if (
  !sessionData()?.warmup?.length && !sessionData()?.finisher?.length && !sessionData()?.main?.length
) {
  <p class="no-data">No data</p>
}
