@import url('../partials/common.scss');

.config-header {
    display: flex;
    margin-top: 0.5rem;
    gap: 10px;

    .time-duration {
        padding: 2px;
        width: 100%;
        height: 120px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
        width: 10%;

        .stick {
            border: 2px solid;
            width: 100%;
        }
    }
}