<!-- Date -->
<config-header-component />
<router-outlet />
<config-modal />

<!-- Current exercise -->
<!-- <div class="on-going">
  <p>Current exercises : {{selectedExerciseList().length}}</p>
  @if (selectedExerciseList().length !== 0) {
  <hr>
  }
  @for (exercise of selectedExerciseList(); track $index) {
  <div class="exercise parent">
    <p class="exercise-name div1">Overhead press</p>
    <p class="set-no div2">Set 1</p>
    <p class="total-weight div3">12kg</p>
    <p class="rep-count div4">15reps</p>
    <button type="button" class="eccentric-control div5">EC=0%</button>
    <button type="button" class="rest-breath-control div6">RB=0%</button>
  </div>
  }
  @if (selectedExerciseList().length !== 0) {
  <div class="rest-time">
    <div class="pct-sec-left" #restTimepctLoader></div>
    {{selectedExerciseList().at(-1)?.rest}} sec
  </div>
  }
</div> -->
<!-- Exercise config -->
<!-- <div class="exercise-config">
  <button type="button">Done</button>
  <button type="button" (click)="completeSet()">Set Complete</button>
</div> -->
<!-- Exercise complete -->
<!-- <div class="exercise-complete">
  Rest 150sec
</div> -->
<!-- Exercise list -->
<!-- <div class="exercise-list">
  <input type="text" placeholder="search">
  <ul (click)="selectExercise($event)">
    @for (exercise of exerciseList(); track $index) {
    <li><button type="button">{{exercise}}</button></li>
    }
  </ul>
</div> -->
<!-- Session complete -->
<!-- <button type="button" class="session-complete">Session complete</button> -->


<!-- Modals -->
<!-- @if(modal() === 'dayType'){
<div [class]="`modal ${modalAnimation()}`">
  <ul class="day-types" (click)="selectDay($event)">
    <li><button>Full body</button></li>
    <li><button>Push day</button></li>
    <li><button>Pull day</button></li>
    <li><button>Leg + core day</button></li>
    <li><button>Cancel</button></li>
  </ul>
</div>
}
@if(modal() !== undefined){
<div class="bg-blur"></div>
}
@if(modal() === 'place'){
<div [class]="`modal ${modalAnimation()}`">
  <ul class="place" (click)="selectPlace($event)">
    <li><button>Home</button></li>
    <li><button>Gym</button></li>
    <li><button>Cancel</button></li>
  </ul>
</div>
}
@if (modal() === 'exerciseSelector') {
<div [class]="`modal ${modalAnimation()} ex-config-modal`">
  <p class="title">{{selectedExercise()}}</p>
  <div class="config-inputs" [formGroup]="exerciseConfigForm">
    <input type="text" placeholder="Rest time" formControlName="rest">
    <input type="text" placeholder="Complete time" formControlName="complete">
    <input type="text" placeholder="Total sets" formControlName="sets">
    <input type="text" placeholder="Weights/Time" formControlName="weights">
    <input type="text" placeholder="Reps" formControlName="reps">
  </div>
  <div class="exercise-configuration">
    <button class="cancel" (click)="closeConfiguration()">Cancel</button>
    <button class="done" (click)="completeConfiguration()">Done</button>
  </div>
</div>
}
@if (modal() === 'exerciseType'){
<div [class]="`modal ${modalAnimation()}`" (click)="selectExerciseType($event)">
  <ul>
    <li><button type="button">Warm up</button></li>
    <li><button type="button">Main</button></li>
    <li><button type="button">Finisher</button></li>
    <li><button type="button">Cancel</button></li>
  </ul>
</div>
}
@if (modal() === 'configSelection'){
<div [class]="`modal ${modalAnimation()}`">
  <ul>
    <li><button type="button" (click)="displayModal('dayType')">{{configType().dayType}}</button></li>
    <li><button type="button" (click)="displayModal('place')">{{configType().place}}</button></li>
    <li><button type="button" (click)="displayModal('exerciseType')">{{configType().exerciseSection}}</button></li>
    <li><button type="button" (click)="closeModal()">Cancel</button></li>
  </ul>
</div>
} -->